$primary    :#3AAfA9;
$secondary  :#FEFFFF;
$tertiary   :#DEF2F1;
$darkerblue :#2B7A78;
$darkestblue:#17252A;
$yellow     :#FCB23A;
$grey       :#F8FFFF;
$red1       :#FC746D;
$red2       :#B04943;
$yellow2    :#B08031;
$purple     :#834CB0;
$facebook   :#3b5998;
$linkedin   :#0072b1;