.navbar{
    height: 100%;
    background-color: $secondary;
    border-right: 4px $darkerblue solid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;   
}

.nav{
    &-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a{
            text-decoration: none;
        }
    }
    &-letter{
        text-align: center;
        color: $primary;
        padding-bottom: 5vh;
        font-size: 45px;
        width: 100%;
        height: 15vh;
        border-bottom: 3px $darkerblue solid;
        h2{
            margin: 4vh 0 0;
        }
        a{
            color: $primary;
            &:hover{
                color: $darkestblue;
            }
        }
        
    }
    &-items{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 30px;
        align-items: center;
        border-bottom: 3px $darkerblue solid;
        border-width: 100%;
        .selected{
            color: $primary;
            &:hover{
                border: none;
            }
        }
        a{
            color: $darkestblue;
            margin-top: 15px;
            &:hover{
                border-bottom: 2px $primary solid;
                border-width: 50%;
            }
        }
    }
    &-social{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    &-fb{
        font-size: 40px;
        color: $primary;
        &:hover{
            color: $facebook;
        }
    }
    &-li{
        font-size: 40px;
        color: $primary;
        &:hover{
            color: $linkedin;
        }
    }
}

// test


#main_nav {
    display: none;
}


 /* The sidebar menu */
 .sidebar {
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    display: block;
    width: 13vw;
    height: 100%;
    background-color: $secondary;
    border-right: 4px $darkerblue solid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  /* The sidebar links */
  .sidebar a {
    text-decoration: none;
    color: $darkerblue;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover, a:active{
    color: $primary;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
  }
  
  .openbtn:hover {
    background-color: transparent;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    z-index: 1;
    position: fixed;
    top: 2px;
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 45px;
    height: 40px;
    font-size: 25px;
    background-color: $darkerblue;
    color: $tertiary;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    border: none;
    padding: 5px;
    &:hover, &:active{
        color: $darkerblue;
        background-color: $tertiary;
    }
    @media(min-width:750px;){
        z-index: 0;
    }
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 