.image-container{
    overflow: hidden;
    width: 30vw;
    height: fit-content;
    border: 1px red solid;
    img{
        transition: transform .5s ease;
        &:hover{
            transform: scale(1.1);
            opacity: .75;
        }
    }

}

.project{
    &-background{
        background-color: $tertiary;
        padding: 10px 0px;
        height: 300vh;
        @media (min-width:768px){
            height: 155vh;
        }
        @media (min-width:998px){
            height: 120vh;
        }
        @media (min-width:1208px){
            height: 103vh;
        }
        @media (min-width:1400px){
            height: 85vh;
        }
    }
    &-title{
        margin-bottom: 10px;
    }
    &-container{
        padding: 0px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &-box{
        width: 85vw;
        // 340px
        border: 3px $tertiary solid;
        background-color: $secondary;
        text-align: center;
        margin: 5px 10px;
        border-radius: 15px;
        border-color: $secondary;
        margin: 0 auto;
        margin-bottom: 15px;
        -webkit-box-shadow: 0px 14px 34px -4px rgba(0,0,0,0.3); 
        box-shadow: 0px 14px 34px -4px rgba(0,0,0,0.3); 
        @media (min-width:768px){
            width: 40vw;
        }
        @media (min-width:998px){
            width: 34vw;
        }
        @media (min-width:1208px){
            width: 340px;
        }
    }
    &-desc{
        h3{
            color: $darkestblue;
        }
        p{
            color: $darkestblue;
            line-height: 0.9;
            letter-spacing: 0.6px;
        }
    }
    &-link{
        text-decoration: none;
        color: $darkestblue;
        &::after{
            content: ' \2192';
        }
        &:hover{
            color: $primary;
        }
        
    }
    &-languages{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        div{
            width: 35%;
            color: $darkestblue;
            margin: 5px;
            border-radius: 5px;
            padding: 5px;
            i{
                font-size: 25px;
            }
            h4{
                font-size: 0.5rem;
            }
        }
    }
    &-html{
        background-color: #fff;
        i{
            color: #f06529;
        }
    }
    &-css{
        background-color: #fff;
        i{
            color: $css;
        }
    }
    &-java{
        background-color: #fff;
        i{
            color: $js;
        }
        div{
            background-color: $darkestblue;
            padding: 3px 5px 2px 4px;
            margin: 0 auto;
        }
    }
}

.project-img{
    width: 80vw;
    border-radius: 5px;
    @media (min-width:768px){
        width: 40vw;
    }
    @media (min-width:998px){
        width: 34vw;
    }
    @media (min-width:1208px){
        width: 340px;
    }
    
}

.flip-card {
        width: 85vw;
        height: 38vh;
        border: 3px $tertiary solid;
        background-color: $secondary;
        text-align: center;
        margin: 5px 10px;
        border-radius: 15px;
        border-color: $secondary;
        margin: 0 auto;
        margin-bottom: 20px;
        // -webkit-box-shadow: 0px 14px 34px -4px rgba(0,0,0,0.3); 
        // box-shadow: 0px 14px 34px -4px rgba(0,0,0,0.3); 
        // background-color: transparent;
        border: 1px solid transparent;
        perspective: 1000px;
        @media (min-width:600px){
            height: 40vh;
        }
        @media (min-width:700px){
            height: 43vh;
        }
        @media (min-width:768px){
            width: 40vw;
            height: 35vh;
        }
        @media (min-width:998px){
            width: 34vw;
        }
        @media (min-width:1208px){
            width: 340px;
            height: 45vh;
        }
        @media (min-width:1400px){
            height: 36vh;
        }
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do a horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
    padding: 5px;
    p{
        font-size: 13px;
        line-height: 1.2;
    }
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: $secondary;
    color: $darkestblue;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: $tertiary;
    color: $darkestblue;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        font-size: 15px;
        border-bottom: 2px $primary solid;
        width: 50%;
    }
  }